.card {
     padding: 200px 24px 34px;
     border-radius: 20px;
     background-color: rgba(from var(--nata-primary-hover) r g b /0.2);
     transition: all 200ms ease;

     &:hover {
          background-color: rgba(from var(--nata-primary-hover) r g b /0.8);
          color: var(--primary-foreground);
     }
}


.step-container {
     counter-reset: step-counter;

     .step {
          position: relative;
          padding-block: 16px;
          margin-bottom: 10px;
          padding-left: 120px;

          &::before {
               position: absolute;
               left: 0;
               top: 0;
               font-size: 48px;
               font-weight: 200;
               content: "0" counter(step-counter);
               counter-increment: step-counter;
               line-height: normal;
               padding-top: 8px;
          }
     }

     .step:not(:last-of-type) {
          border-bottom: 1px solid #666;
     }
}