.card {
     padding: 200px 24px 34px;
     border-radius: 20px;
     /* background-color: rgba(from var(--nata-primary) r g b /0.2); */
     background-color: var(--color-white);
     transition: all 200ms ease;
     position: relative;

     &::after {
          content: '';
          position: absolute;
          top: 24px;
          right: 24px;
          width: 35px;
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: rgba(from var(--nata-primary-hover) r g b/0.5);
     }

     &:hover {
          scale: 102%;

          &::after {
               background-color: var(--nata-primary-hover);
          }
     }
}

.step-container {
     counter-reset: step-counter;

     .step {
          position: relative;
          padding-block: 16px;
          margin-bottom: 10px;
          padding-left: 120px;

          &::before {
               position: absolute;
               left: 0;
               top: 0;
               font-size: 48px;
               font-weight: 200;
               content: "0" counter(step-counter);
               counter-increment: step-counter;
               line-height: normal;
               padding-top: 8px;
          }
     }

     .step:not(:last-of-type) {
          border-bottom: 1px solid #666;
     }
}

