<section class="p-5">
<h2 class="capitalize" nata-h2>Assessment Consent</h2>

     <p>I understand this assessment provides an Ai-generated prediction and does not replace diagnosis or treatment by
          a qualified healthcare professional.</p>

     <div class="mt-5 flex-center gap-x-2.5 justify-end">
          <button class="nata-btn secondary capitalize" (click)="closeDialog(false)">
               No, I do not agree
          </button>
          <button class="nata-btn primary capitalize" (click)="closeDialog(true)">
               I Agree
          </button>
     </div>
</section>