.sidebar {
     box-shadow: var(--sidebar-border) 2px 0px 2px -2px;

     & > div {
          box-shadow: var(--sidebar-border) 0px 2px 2px -2px;
     }

     & button {
          text-transform: capitalize;
          font-weight: 500;
          display: flex;
          align-items: center;
          width: 100%;
          text-align: left;
          padding: 8px 10px;
          cursor: pointer;
          transition: 200ms ease;
          border-radius: 4px;
          column-gap: 5px;

          /* &:focus, */
          &:focus-visible {
               outline: 1px solid var(--sidebar-accent);
          }

          &:not(:where(.logout)):hover {
               /* background-color: rgb(from #050505 r g b /0.05); */
               background-color: var(--sidebar-accent);
          }

          &:where(.active) {
               color: var(--nata-primary);
               background-color: var(--sidebar-accent);
               scale: 102%;
          }
     }
}
