<div class="container">
     <div class="s" [class.active]="isNavBarOpened()">
          <nata-dashboard-nav-bar (navClicked)="closeSideBar($event)" />

          @if (isNavBarOpened()) {
               <button type="button" class="p-1 border rounded-full flex items-center justify-center border-(--sidebar-border) hover:bg-(--sidebar-accent) absolute top-3 right-4" (click)="closeNavBar()">
                    <ng-icon name="hugeMinusSign" />
               </button>
          }
     </div>

     <div class="content">
          <header class="py-3 px-10 max-[426px]:px-5 flex-center justify-between">
               <button class="p-1 border rounded-full flex items-center justify-center min-[426px]:hidden border-(--sidebar-border) hover:bg-(--sidebar-accent)" type="button" (click)="openNavBar()">
                    <ng-icon name="hugeMenu02" />
               </button>
               
               <button class="p-1 border border-(--sidebar-border) rounded-full flex items-center justify-center ml-auto cursor-pointer hover:bg-(--sidebar-accent)" type="button">
                    <ng-icon name="hugeNotification01" />
               </button>
          </header>
          <div class="overflow-auto">
          <router-outlet></router-outlet>
          </div>
     </div>
</div>

<nata-page-loader />