.container {
     display: grid;
     grid-template-areas: 'sidebar content';
     grid-template-columns: 15vw calc(100vw - 15vw);

     & .s {
          grid-area: sidebar;
     }

     & .content {
          grid-area: content;
     }
}

.content header {
     box-shadow: var(--sidebar-border) 0px 2px 2px -2px;
}

@media screen and (max-width: 426px) {
     .container {
          grid-template-areas: 'content';
          grid-template-columns: 100%;
          position: relative;
     }

     .container .s {
          width: 100%;
          height: 100dvh;
          padding-inline: 5px;
          transform: translateX(-100%);
          transition: transform 200ms ease;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -5;
          background-color: var(--background);

          &.active {
               transform: translateX(0);
               z-index: 10;
          }
     }

     .container:has(.s:where(.active)) {
          height: 100dvh;
          overflow-y: hidden;
     }
}