.container {
     display: grid;
     grid-template-areas: 'sidebar content';
     grid-template-columns: 15vw calc(100vw - 15vw);

     & s {
          grid-area: sidebar;
     }

     & .content {
          grid-area: content;
     }
}

.content header {
     box-shadow: var(--sidebar-border) 0px 2px 2px -2px;
}

@media screen and (max-width: 425px) {
     .container {
          grid-template-areas: 'content';
          grid-template-columns: 100%;
     }
}